# Description

TODO

# Modules

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Paths

In [2]:
A1000G_GENOTYPES_DIR <- Sys.getenv("PHENOPLIER_A1000G_GENOTYPES_DIR")

In [3]:
A1000G_GENOTYPES_DIR

[1] "/opt/data/data/1000g/genotypes"

In [4]:
SUBSETS_DIR <- file.path(A1000G_GENOTYPES_DIR, "subsets")

In [5]:
SUBSETS_DIR

[1] "/opt/data/data/1000g/genotypes/subsets"

# Load data

In [6]:
het <- read.table(file.path(SUBSETS_DIR, "all_phase3.4.indepSNP.R_check.het"), head=TRUE)

In [7]:
dim(het)

[1] 1765    6

In [8]:
head(het)

  FID IID     O.HOM.   E.HOM.   N.NM.    F
1 0   HG00096 54304312 54130000 55041128 0.1890
2 0   HG00101 54303647 54130000 55041128 0.1883
3 0   HG00103 54310541 54130000 55041128 0.1959
4 0   HG00105 54307769 54130000 55041128 0.1928
5 0   HG00107 54311333 54130000 55041128 0.1967
6 0   HG00108 54305610 54130000 55041128 0.1904

In [9]:
het$HET_RATE = (het$"N.NM." - het$"O.HOM.")/het$"N.NM."

In [10]:
head(het)

  FID IID     O.HOM.   E.HOM.   N.NM.    F      HET_RATE
1 0   HG00096 54304312 54130000 55041128 0.1890 0.01338664
2 0   HG00101 54303647 54130000 55041128 0.1883 0.01339873
3 0   HG00103 54310541 54130000 55041128 0.1959 0.01327347
4 0   HG00105 54307769 54130000 55041128 0.1928 0.01332384
5 0   HG00107 54311333 54130000 55041128 0.1967 0.01325909
6 0   HG00108 54305610 54130000 55041128 0.1904 0.01336306

In [11]:
het %>% summarise(mean= mean(HET_RATE), sd= sd(HET_RATE), max = max(HET_RATE),min = min(HET_RATE))

  mean       sd          max        min
1 0.01576232 0.003276683 0.02087675 0.01064359

In [12]:
het_fail = subset(het, (het$HET_RATE < mean(het$HET_RATE)-1.5*sd(het$HET_RATE)) | (het$HET_RATE > mean(het$HET_RATE)+1.5*sd(het$HET_RATE)));

In [13]:
het_fail$HET_DST = (het_fail$HET_RATE-mean(het$HET_RATE))/sd(het$HET_RATE);

In [14]:
dim(het_fail)

[1] 18  8

In [15]:
head(het_fail)

    FID IID     O.HOM.   E.HOM.   N.NM.    F       HET_RATE   HET_DST
378 0   HG01816 54445278 54130000 55041128  0.3442 0.01082554 -1.506639
412 0   HG01926 54451364 54130000 55041128  0.3509 0.01071497 -1.540384
425 0   HG01961 54455293 54130000 55041128  0.3552 0.01064359 -1.562169
515 0   HG02291 54445814 54130000 55041128  0.3448 0.01081580 -1.509611
779 0   HG03052 53892048 54130000 55041128 -0.2648 0.02087675  1.560857
788 0   HG03066 53901191 54130000 55041128 -0.2547 0.02071064  1.510162

In [16]:
write.table(het_fail, file.path(SUBSETS_DIR, "all_phase3.4.fail-het-qc.txt"), row.names=FALSE)